body{
    background-image: url("../../assets/images/background2.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 50%;
}

.jumbotron{
    text-align: center;
    margin-top: 15px;
}
.panel-header{
    background-color: #e9ecef;
}

#panelStyle{
    float: left;
    margin: 10px 20px 10px 5px;
}